* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
}

input {
    margin-bottom: 8px;
    width: 30px;
}

button {
    margin-bottom: 5px;
}

.container {
    margin: 10px;
    padding: 5px;
    border: black 1px solid;
    width: 500px;
}

#one {
    min-height: 40px;
}

#one>input {
    min-width: 70px;
}

#fortxt1 {
    border: black 1px solid;
    min-height: 20px;
}

#fortxt2 {
    border: black 1px solid;
    min-height: 20px;
}

#two {
    min-height: 40px;
}

#three>* {
    font-size: 14px;
    border: black 1px solid;
    margin: 4px;
}

#three>input {
    min-width: 100px;
}

label {
    display: inline-block;
    padding: 5px;
    cursor: pointer;
}

#link2 {
    font-size: 20px;
}

a {
    text-decoration: none;
}

.red {
    color: red;
}

.purple {
    color: purple;
}

#five>input {
    min-width: 100px;
}

#one>input {
    min-width: 100px;
}

#nextlaba {
    text-decoration: none;
    color: #414141;
    animation-duration: 1s;
}

#nextlaba:hover {
    text-decoration: none;
    color: #c50707;
    text-shadow: 0px 0px 0px #fff, 0px 0px 9px #ed3d3d;
    animation-duration: 1s;
}