* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
}

.container {
    margin: 10px;
    padding: 5px;
    border: black 1px solid;
    width: 400px;
    height: 40px;
}

#two {
    min-height: 50px;
}